<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <instrumentation
        android:name="com.example.lyriccaptioner.LocalAiInstrumentation"
        android:targetPackage="com.example.lyriccaptioner" />
    <instrumentation
        android:name="com.example.lyriccaptioner.AsrDiagnosticInstrumentation"
        android:targetPackage="com.example.lyriccaptioner" />
</manifest>
